@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
input {
  font-size: 20px;
  padding-left: 10px;
  font-family: Cambria, Georgia, serif !important;
  color: #8a8888;
  letter-spacing: 0.08em;
}

input[type="text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 617px;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}

body {
  background: #d6d6d6;
  font-family: lato, sans-serif;
  letter-spacing: 0.07em;
}

button {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  background: #fff;
  height: 80px;
  padding: 10px;
  position: fixed;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  margin-right: 80px;
}

header .logo {
  margin: 0px 20px 0px 5%;
}

header ul.menu li {
  border-right: 1.5px solid rgba(0, 0, 0, 0.4);
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 6px;
  font-family: lato, sans-serif;
}

header ul.menu li:nth-child(3) {
  border: none;
}

header li a {
  font-size: 20px;
  color: #3c3e40 !important;
}

header li a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.busca {
  margin-top: 4px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 650px;
  height: 35px;
  margin-left: 80px;
  font-family: "Cambria";
}

.busca button {
  height: 35px;
  background: #f07c00;
  border: 1px solid #f07c00;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.busca img {
  height: 25px;
  padding: 0px 5px;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::-ms-input-placeholder {
  text-align: center;
}

::placeholder {
  text-align: center;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 98px;
  width: 68%;
  margin-left: 6%;
}

.aside {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 110px;
  margin-left: 2%;
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 18%;
  max-height: max-content;
  margin-right: 15px;
  border-radius: 5px;
}

.aside .title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

article {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 0.3em;
  font-size: 0.8em;
  color: #464646 !important;
}

.blog-2 article {
  font-size: 1em;
}

.aside .links {
  padding: 15px;
}

.aside li {
  text-align: justify;
  font-family: lato, sans-serif;
}

.aside li a {
  color: black;
  font-size: 18px;
  margin-left: 10px;
}

.aside li::before {
  content: "•";
  color: black;
  /* or whatever color you prefer */
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.inicio {
  background: #fff;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 0px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inicio img {
  margin-left: 10px;
}

.inicio li a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
  color: #6d6a6a !important;
  font-family: "Arial", sans-serif;
}

.inicio li {
  float: left;
}

.inicio .alinhar {
  margin-top: 4px;
}
.mini-logo {
  display: none;
}
.blog {
  border-radius: 4px;
  background: #fff;
  font-size: 18px;
  margin: 30px 5px 5px 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.blog .endereco {
  margin-top: 8px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
}
.blog .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 4px;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 0.08em;
  color: #232323;
  margin-left: 4px;
}

.blog .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.blog .posts .img {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.blog .posts .img img {
  height: 140px;
  width: 120px;
}

.blog .img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 120px;
}
.endereco {
  display: flex;
}
.endereco li a {
  color: black;
}

.blog .conteudo {
  font-family: lato, sans-serif;
  margin-left: 8px;
  grid-area: conteudo;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blog .conteudo h3 {
  font-weight: normal;
  font-size: 1.6em;
  text-align: justify;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  color: #464646;
}

/* blog 2 */

.blog-2 {
  border-radius: 4px;
  background: #fff;
  font-size: 18px;
  margin: 25px 5px 5px 5px;
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.blog-2 .endereco {
  margin-top: 20px;
  font-size: 14px;
  padding: 4px;
}
.blog-2 .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
}

.blog-2 .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.blog-2 .posts .img {
  height: 136px;
  width: 120px;
}

.blog-2 .posts .img img {
  height: 120px;
  width: 120px;
}

.blog-2 .img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 120px;
}

.blog-2 .conteudo {
  font-family: lato, sans-serif;
  margin-left: 8px;
  grid-area: conteudo;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-2 .conteudo h1 {
  background: black;
  grid-area: titulo;
}

.conteudo span {
  width: 75px;
  height: 22px;
  padding: 2px 15px;
  background: #eeee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  letter-spacing: 1px;
  box-shadow: 0 0 5px #00000066;
}
.conteudo span a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

footer {
  width: 88%;
  margin: auto;
  text-align: center;
  padding: 4px;
  margin-top: 20px;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  header {
    max-height: max-content;
    overflow: hidden;
    z-index: 1;
  }
  header ul.menu {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  header ul.menu li {
    border: none;
  }

  header ul.menu li a {
    font-size: 13px;
  }
  header ul.menu li a a :hover {
    color: black;
  }
  header .logo {
    display: none;
  }

  header .busca {
    width: 98%;
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  input {
    font-size: 14px;
  }
  input[type="text"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .inicio {
    margin-top: 75px;
    width: 98%;
  }
  .principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    width: 100%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .flex-contanier {
    width: 100%;
    margin: 0px;
  }
  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 71%;
    margin: 8px auto;
    margin-top: 20px;
  }
  .blog {
    padding-bottom: 8px;
    margin-right: 2px;
  }
  .blog-2 {
    padding-bottom: 8px;
  }
  .blog .img {
    display: none;
  }
  .blog .title {
    font-size: 20px;
  }
  .blog-2 .title {
    font-size: 20px;
  }
  .blog-2 .img {
    display: none;
  }
  .inicio {
    padding-left: 0px;
  }
  .alinhar li a {
    font-size: 14px;
  }
  .container {
    width: 96%;
    margin: auto;
  }
  .box {
    background: red;
  }
  .aside {
    width: 94%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 540px) {
  .box:nth-child(3) {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  header ul.menu li a {
    font-size: 13px;
    color: white;
  }
  .mini-logo {
    display: block;
    align-self: center;
    overflow: hidden;
  }
  .mini-logo img {
    width: 50px;
    height: 50px;
  }
  .container {
    margin-top: 55px;
  }
}
