.inicio {
  font-size: 0.9em;
  color: #2e2e2e;
  padding: 10px 0;
}

.blog .posts {
  display: flex;
  padding-top: 8px;
}

.conteudo {
  padding: 0 35px !important;
  text-align: left;
  text-justify: inter-word;
}

.posts article {
  margin-top: 20px;
}

.fixedAdsense{
  display: none;
}

.conteudo .conteudo {
  min-height: 60px;
  margin-top: 50px;
  margin-left: 2px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dtitle {
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px !important;
  font-weight: 100;
  margin-bottom: 4px;
  border: none;
  text-transform: capitalize;
}

.description {
  font-weight: normal;
  font-family: "Lato Regular", Arial;
}

.description .texto {
  padding: 0 10px;
}

.comentar {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.date {
  margin-bottom: 8px;
  font-size: 12px;
}

.title {
  padding-bottom: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 4px;
  background: #fff;
  margin-top: 40px;
  margin-left: 2px;
  margin-right: 2px;
}

.comentar ::placeholder {
  text-align: start;
  padding-left: 3px;
}

#comentario {
  width: 100%;
}

.input {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
}
.input input {
  width: 49%;

  margin: 8px 0;
}
.commentsubmit {
  float: right;
  background: #c4c4c4;
  border-radius: 6px;
  border: none;
  margin: 4px;
  padding: 4px;
  margin-top: 8px;
}
fieldset {
  border: none;
}
.principal {
  display: flex;
}

.box li {
  padding: 1.3rem;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.box-flex .box li {
  padding: 1.3rem;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.box li:last-child{
  border:none;

}.conteudo .title{

   border-bottom:1px solid rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
   font-size: 1.6rem;
   font-weight: 200;
   color: #2d2d2d;
 }

.wp-pagenavi{
  border-radius: 3px;
  padding: 15px;
  margin: 0 10px 3vh 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-pagenavi a{
  text-transform: uppercase;
  color: #ee7c12;
  background: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 0 5px 0 5px;
}

.wp-pagenavi span.current{
  padding: 5px 10px;
  margin: 0 5px 0 5px;
  color:#fff;
  background:  #ee7c12;
  font-weight: bold;
  border-radius: 3px;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 0;
    width: 100%;
  }
  .comentar {
    padding: 8px;
  }
  .blog {
    padding: 0;
  }
  .cbox {
    margin-top: 2px;
  }
  header ul.menu {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto;
  }
  header ul.menu li {
    border: none;
    padding-bottom: 0.6rem;
  }

  header ul.menu li a {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  form.busca {
    display: flex;
    width: 96vw;
    justify-content: space-between;
  }
  .aside {
    display:flex;
    flex-direction: column;
    width: 94vw;
    margin-top: 5px;
    margin-left: 0;
  }
  .fixedAdsense{
    display: initial;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  div .blog {
    padding: 10px;
  }
  .conteudo {
    padding: 0 !important;
  }
  .inicio {
    font-size: 0.6rem;
  }
  .mini-logo img {
    height: 3rem;
    width: 3rem;
  }
  header .menu ul li {
    padding: 3rem 0;
  }
  .icons i {
    margin: 0.4rem;
  }
  .box {
    height: max-content;
    width: 90%;
  }
  .box:last-child {
    display: block;
  }
  .box-flex .box:last-child {
    display: none;
  }

  .box li {
    padding: 0.2rem;
    height: 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .box-flex .box li {
    padding: 1rem;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }.item{
     padding: 0.2rem;
     height: 2.5rem;
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }
  .box li:last-child{
    border:none;
  }

  .wp-pagenavi a{
    padding: 3px 3px;
    margin: 0 2px 0 2px;
  }

  .wp-pagenavi span.current{
    padding: 5px 5px;
    margin: 0 2px 0 2px;
  }
  span#u_0_6 {
    display: none !important;
  }
}
