.propaganda-mobile {
  display: none;
}

.inicio {
  font-size: 0.6em;
  color: #2e2e2e;
  padding: 20px 0;
}

.inicio img {
  width: 15px;
  padding: 2px;
  margin-bottom: -5px;
}

.blog .posts {
  display: flex;
  padding-top: 8px;
}

.conteudo {
  padding: 0 35px !important;
  text-align: left;
}

article {
  margin-top: 20px;
  font-size: initial;
  text-align: left;
}

article h2{
  font-weight: normal;
}

.conteudo .conteudo {
  min-height: 60px;
  margin-top: 50px;
  margin-left: 2px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dtitle {
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px !important;
  font-weight: 100;
  margin-bottom: 4px;
  border: none;
  text-transform: capitalize;
}

.description {
  font-size: 14px;
  font-weight: normal;
  font-family: Cambria, Georgia, serif;
}

.description .texto {
  padding: 0 10px;
}

article img{
  max-width: 100%;
  height: auto;
}

.aligncenter{
  margin-left: 50%;
  transform: translateX(-50%);
}

.alignright{
  margin-left: 100%;
  transform: translateX(-100%);
}

.textwidget p{
  margin: 0 !important;
}


@media screen and (max-width: 1024px) {
}
